$color-primary: #064c5c;

.slider{
    // background-color: turquoise;
    grid-column: leftfr-start / rightfr-end;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    overflow: hidden;
}

.slider__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 3px;
}

.active{
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    box-shadow: 0 0 4rem rgba(#000, 0.4);
}

.slider__arrow{
    cursor: pointer;
    fill: $color-primary;
    height: 5rem;
    width: 5rem;
    opacity: .75;
    border-radius: 100%;
    box-shadow: 0 0 1rem rgba(#000, 0.9);
    transition: all 0.2s;
    border: 1px solid #528f9c;

    &-left{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        place-self: center;
    }
    &-right{
        grid-column: 8 / 9;
        grid-row: 3 / 4;
        place-self: center;
    }

    &:hover{
        fill: #528f9c;
        transform: scale(1.2);
        border: 1px solid $color-primary;
    }
}
.slide{
    opacity: 0;
    transition-duration: 1s ease;
    &.active{
        opacity: 1;
        transition-duration: 1s;
    }
}


















// .slider{

//     &__fig-container{

//     }
// }

// .slider__image-item{
//     grid-column: leftfr-start / rightfr-end;
//     background-color: turquoise;
//     // grid-row: 1 / -1;

//     display: grid;
//     grid-template-columns: repeat(8, 1fr);
//     grid-template-rows: repeat(5, 1fr);
//     justify-items: center;
//     align-items: center;


// }

// .slider__image{
//     width: 100%;
//     height: auto;
//     grid-column: 1 / -1;
//     grid-row: 1 / -1;
//     box-shadow: 0rem 0rem 2rem rgba(#000, 0.6);
//     border-radius: 3px;


// }
// .slider__arrow{
//     cursor: pointer;
//     fill: $color-primary;
//     height: 5rem;
//     width: 5rem;
//     opacity: .75;
// }
// .slider__left-arrow{
//     grid-column: 1 / 2;
//     grid-row: 3 / 4;
//     place-self: center;
// }
// .slider__right-arrow{
//     grid-column: 7 / 8;
//     grid-row: 3 / 4;
//     place-self: center;
// }
// .slide{
//     opacity: 0;
//     transition-duration: 1s ease;
//     &.active{
//         opacity: 1;
//         transition-duration: 1s;
//     }
// }
// .slider{
//     top: 3rem;
//     grid-column: leftfr-start / rightfr-end;
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
//     grid-template-rows: repeat(5, 1fr);
//     position: relative;
//     overflow: hidden;
// }
// .slider__fig-container{
//     grid-column: 2 / 7;
//     grid-row: 1 / -1;

//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
//     grid-template-rows: repeat(5, 1fr);
//     justify-items: center;
//     align-items: center;
// }
// .slider__image-item{
//     grid-column: 2 / 7;
//     grid-row: 1 / -1;

// }
// .slider__image{
//     box-shadow: 0rem 0rem 2rem rgba(#000, 0.6);
//     border-radius: 3px;


// }
// .slider__arrow{
//     cursor: pointer;
//     fill: $color-primary;
//     height: 5rem;
//     width: 5rem;
//     opacity: .75;
// }
// .slider__left-arrow{
//     grid-column: 1 / 2;
//     grid-row: 3 / 4;
//     place-self: center;
// }
// .slider__right-arrow{
//     grid-column: 7 / 8;
//     grid-row: 3 / 4;
//     place-self: center;
// }
// .slide{
//     opacity: 0;
//     transition-duration: 1s ease;
//     &.active{
//         opacity: 1;
//         transition-duration: 1s;
//     }
// }