
 /* RESPONSIVE BREAKPOINTS */
 /* //1200px */
/* //1000px */
/* //800px */
/* //600px */


/*Setting the default values on everything*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;   /* 10/16px = 62.5% hence, 1rem === 10px*/
    scroll-behavior: smooth;
    // -webkit-transform: translate3d(0, 0, 0);

    /* @media only screen and (max-width: $bp-largest){
        font-size: 50%;
    } */
}

body{
    font-family: 'Calibri', sans-serif;
    /* color: $color-grey-dark-2; */
    font-weight: 300;
    line-height: 1.6;

}

